<section class="footer px-5">
    <div class="container-fluid col-11">
        <div class="row d-flex pt-5">
            <div class="col-sm-12 col-md-2 order-sm-2 footer-company">
                <div class="row d-flex flex-column">
                    <h5>Company</h5>
                    <a href="#">About</a>
                    <a href="#">Blog</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-2  order-sm-3 footer-account ">
                <div class="row d-flex flex-column">
                    <h5>Account</h5>
                    <a href="#">Payment</a>
                    <a href="#">Subscriptions</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-2  order-sm-4 footer-help ">
                <div class="row d-flex flex-column">
                    <h5>Help</h5>
                    <a href="#">Support</a>
                </div>

            </div>
            <div class="d-none d-md-block col-sm-6 col-md-6 order-sm-1 order-md-4 footer-logo pt-3 pb-3 px-0">
                <div class="pic"><img src="~/Asset/Image/smlogo_v2.png" alt=""></div>
            </div>

            <div class="col-sm-12 order-sm-5 footer-phone">
                <p>
                    <span><i class="fas fa-phone-square-alt"></i>02-26343434</span><span>
                        <i class="fas fa-phone-square-alt"></i>liberia@gmail.com
                    </span> <span>
                        <i class="fab fa-facebook-f"></i><i class="fab fa-twitter"></i><i class="fab fa-instagram"></i>
                    </span>
                </p>

            </div>
        </div>
    </div>
</section>
