
<div class="dashboard px-4">

    <div class="member-amount">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-sm-6 ">
                    <div class="box">
                        <a href="">
                            <div class="item">
                                <div>
                                    <p class="discount-point">
                                        <i class="fas fa-tags"></i>
                                        優惠點 <span> 0 </span> 點
                                    </p>
                                </div>
                                <div class="right-icon">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="box">
                        <a href="">
                            <div class="item">
                                <div>
                                    <p class="favorite-product">
                                        <i class="fas fa-star"></i>
                                        收藏商品 <span> 0 </span> 項
                                    </p>
                                </div>
                                <div class="right-icon">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="box">
                        <a href="">
                            <div class="item">
                                <div>
                                    <p class="coupon">
                                        <i class="fas fa-percentage"></i>
                                        優惠券 <span> 0 </span> 張
                                    </p>
                                </div>
                                <div class="right-icon">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="box">
                        <a href="">
                            <div class="item">
                                <div>
                                    <p class="delivery-notice">
                                        <i class="fas fa-truck-moving"></i>
                                        貨到通知 <span> 0 </span> 張
                                    </p>
                                </div>
                                <div class="right-icon">
                                    <i class="fas fa-chevron-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="member-dash">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fab fa-wpforms fa-3x"></i>
                                <p>我的訂單</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fas fa-user fa-3x"></i>
                                <p>我的帳戶</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fas fa-calendar fa-3x"></i>
                                <p>會員資料</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fas fa-ad fa-3x"></i>
                                <p>電子報訂閱</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fas fa-address-book fa-3x"></i>
                                <p>會員權益</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-4">
                    <div class="box">
                        <div class="item">
                            <a href="">
                                <i class="fas fa-headphones fa-3x"></i>
                                <p>客服專區</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>