


<a href="#" class="type-select">中文書</a>
<a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample2">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample3">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample5">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample6">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample7">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample8">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample9" r9ole="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample9">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>
<a data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span>藝術設計</span><i class="fas fa-plus"></i>
</a>
<div class="collapse" id="collapseExample10">
    <a href="">2234</a>
    <a href="">1234</a>
    <a href="">2234</a>
</div>

