@model System.Web.Mvc.HandleErrorInfo
@section topCSS {
    <link rel="stylesheet" href="~/Asset/Css/Home-Index/Error.css">
}
@{
    ViewBag.Title = "404";
}
<div class="container-fluid m-auto">
    <h1 class="font-weight-lighter">@ViewBag.Title</h1>
    <h2>請</br>重</br>新</br>操</br>作</h2>
</div>

