@if (TempData["Success"] != null)
{
    <p class="alert" style="background-color: rgba(119, 90, 31, 0.6); margin:auto; color:snow" id="Message">@TempData["Success"]</p>
}
else if (TempData["Fail"] != null)
{
    <p class="alert" style=" background-color: #E44D39; margin: auto; color: snow" id="Message">@TempData["Fail"]</p>

}
<script src="~/Asset/Js/SucessOrFalseMsg.js"></script>
