
body {
    background-color: #f0e1b8;
}

ul {
    list-style: none;
}



.footer {
    background-color: #2a2c27;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.footer-company h5,
.footer-account h5,
.footer-help h5 {
    color: white;
    font-weight: bold;
}

.footer-company a,
.footer-account a,
.footer-help a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.footer a:hover {
    color: white;
    transition: ease-in .5s;
}

.footer .pic {
    text-align: center;
}

    .footer .pic img {
        width: 50%;
        right: -180%;
    }

.footer-phone {
    color: white;
    border-top: 1px solid black;
    margin-top: 15px;
    padding: 15px 0;
    font-size: 14px;
    letter-spacing: 1px
}

    .footer-phone p span {
        margin-right: 10px;
    }

    .footer-phone .fas,
    .footer-phone .fab {
        padding-right: 10px;
        font-size: 20px;
    }

        .footer-phone .fab:hover {
            color: 1px solid black;
            cursor: pointer;
            transition: ease-in .5s;
        }
