





.footer {
    background-color: #2a2c27;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.footer-company h5,
.footer-account h5,
.footer-help h5 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 14px;
}

.footer-company a,
.footer-account a,
.footer-help a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    text-decoration: none;
    padding-left: 1px;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: ease-in .5s;
}

.footer .pic {
    text-align: right;
   
}

    .footer .pic img {
        width: 30%;
        right: 10%;
    }

.footer .footer-phone {
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    
    padding: 20px 0 20px 0;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 20px;
}

    .footer-phone span {
        margin-right: 10px;
    }

    .footer-phone .fas,
    .footer-phone .fab {
        padding-right: 10px;
        font-size: 12px;
    }

        .footer-phone .fab:hover {
            color: black;
            cursor: pointer;
            transition: ease-in .5s;
        }
