
@{
    ViewBag.Title = "Index";
}
<link href="~/Asset/Css/Exhibition/Exhibition.css" rel="stylesheet" />


<h2>Exhibtion</h2>

<div class="container-fluid">
   
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <!-- <template id="exhibition"> -->
                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" style="width: 18rem;">
                    <div class="card-body">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exhibitionModal">
                            <img src="https://picsum.photos/300/300/?random=1" class="card-img-top" alt="...">
                        </button>
                        <h4 class="card-text">The Title of exhibition</h4>
                    </div>
                </div>
                <div class="modal fade" id="exhibitionModal" tabindex="-1" aria-labelledby="exhibitionModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exhibitionModalLabel">Modal title of exhibition</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img"> 
                                    <img src="https://picsum.photos/1000/1000/?random=1" class="card-img-top" alt="...">
                                </div>
                                <div class="modal-text">
                                    <div class="media-icon">
                                        <i class="fab fa-instagram fa-2x"></i>
                                    </div>
                                    <button class="Add-calender">加入行事曆</button>
                                    <p class="content">
                                        有限責任面議，相同作者喜歡共享版竟然太麻里，平時複雜不詳清楚給他天下要去軟體尤其是，國內外發表簽名相信促進人間危險女友加油電視即將故意都會，睡覺套件擁有損失格式報名銀行現實位置暴力網頁班，汽車一聲回去上路當地宣佈必須公園我來，推薦使用幹部目標人口，進入零。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </template> -->
                @*Following items only for the layout preview, need to be deteled when use repository/template*@
                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" style="width: 18rem;">
                    <div class="card-body">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exhibitionModal">
                            <img src="https://picsum.photos/300/300/?random=1" class="card-img-top" alt="...">
                        </button>
                        <h4 class="card-text">The Title of exhibition</h4>
                    </div>
                </div>
                <div class="modal fade" id="exhibitionModal" tabindex="-1" aria-labelledby="exhibitionModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exhibitionModalLabel">Modal title of exhibition</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img">
                                    <img src="https://picsum.photos/1000/1000/?random=1" class="card-img-top" alt="...">
                                </div>
                                <div class="modal-text">
                                    <div class="mediaIcon">twitter</div>
                                    <button class="Add-calender">加入行事曆</button>
                                    <p class="content">
                                        有限責任面議，相同作者喜歡共享版竟然太麻里，平時複雜不詳清楚給他天下要去軟體尤其是，國內外發表簽名相信促進人間危險女友加油電視即將故意都會，睡覺套件擁有損失格式報名銀行現實位置暴力網頁班，汽車一聲回去上路當地宣佈必須公園我來，推薦使用幹部目標人口，進入零。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" style="width: 18rem;">
                    <div class="card-body">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exhibitionModal">
                            <img src="https://picsum.photos/300/300/?random=1" class="card-img-top" alt="...">
                        </button>
                        <h4 class="card-text">The Title of exhibition</h4>
                    </div>
                </div>
                <div class="modal fade" id="exhibitionModal" tabindex="-1" aria-labelledby="exhibitionModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exhibitionModalLabel">Modal title of exhibition</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img">
                                    <img src="https://picsum.photos/1000/1000/?random=1" class="card-img-top" alt="...">
                                </div>
                                <div class="modal-text">
                                    <div class="mediaIcon">twitter</div>
                                    <button class="Add-calender">加入行事曆</button>
                                    <p class="content">
                                        有限責任面議，相同作者喜歡共享版竟然太麻里，平時複雜不詳清楚給他天下要去軟體尤其是，國內外發表簽名相信促進人間危險女友加油電視即將故意都會，睡覺套件擁有損失格式報名銀行現實位置暴力網頁班，汽車一聲回去上路當地宣佈必須公園我來，推薦使用幹部目標人口，進入零。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12" style="width: 18rem;">
                    <div class="card-body">
                        <button type="button" class="btn" data-toggle="modal" data-target="#exhibitionModal">
                            <img src="https://picsum.photos/300/300/?random=1" class="card-img-top" alt="...">
                        </button>
                        <h4 class="card-text">The Title of exhibition</h4>
                    </div>
                </div>
                <div class="modal fade" id="exhibitionModal" tabindex="-1" aria-labelledby="exhibitionModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exhibitionModalLabel">Modal title of exhibition</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="modal-img">
                                    <img src="https://picsum.photos/1000/1000/?random=1" class="card-img-top" alt="...">
                                </div>
                                <div class="modal-text">
                                    <div class="mediaIcon">twitter</div>
                                    <button class="Add-calender">加入行事曆</button>
                                    <p class="content">
                                        有限責任面議，相同作者喜歡共享版竟然太麻里，平時複雜不詳清楚給他天下要去軟體尤其是，國內外發表簽名相信促進人間危險女友加油電視即將故意都會，睡覺套件擁有損失格式報名銀行現實位置暴力網頁班，汽車一聲回去上路當地宣佈必須公園我來，推薦使用幹部目標人口，進入零。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
