




<div class="CartMsg-wrap">
    <div class="CartMsg-alert">
        <div class="CartMsg-alert_circle">
            <i class="fas fa-check-circle circle"></i>
        </div>
        <div class="CartMsg-alert_txt">
            <div class="txt">商品加入成功 !</div>
        </div>
    </div>
</div>

