




<div class="FavMsg-wrap">
    <div class="FavMsg-alert">
        <div class="FavMsg-alert_circle">
            <i class="fas fa-times-circle circle" style="display: none"></i>
            <i class="fas fa-check-circle circle"></i>
        </div>
        <div class="FavMsg-alert_txt">
            <div class="txt" id="FavMsgAlertText">加入收藏成功！</div>
        </div>
    </div>
</div>

