@section topCss{
    <link href="~/Asset/Css/Product/ProductDetail.css" rel="stylesheet" />
    <link href="~/Asset/Css/PartialView/category-sidenav.css" rel="stylesheet" />
}


<section class="book-detail">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12 breadcrumb d-none d-md-block">
                <a href="#">首頁</a>
                <a href="#">電子書</a>
                <a href="#">企業與金融</a>
                <a href="#">原子習慣</a>
            </div>
            <div class="breadcrumb breadcrumb-sm d-sm-block d-md-none"><a href="#">回到企業與金融</a> </div>
            <div class="detail-main ">
                <!-- 商品區塊 -->
                <!-- 預覽圖區塊 -->
                <div class="row">
                    <div class="sidenav d-none d-md-block col-md-2 col-lg-2">
                        <a href="#">@Html.Action("CategoryPartial", "Category")</a>

                    </div>

                    @Html.Action("ProductDetailPartial", "Product")


                </div>
            </div>
        </div>
    </div>
</section>





@section EndJs{
    <script src="~/Asset/Js/Product/book-reviewer.js"></script>

}