@model  IEnumerable<ProductViewModel>

@foreach (var item in Model)
{

    <div class="swiper-slide">
        <a href="@Url.Action("ProductDetail","Product",new {id = item.Id })"> <img src="@item.MainUrl" alt="Alternate Text" /></a>
   </div>
  


}
