
@{
    ViewBag.Title = "ResetEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section topCSS{
    @*Passward CSS*@
    <link href="~/Asset/Css/Passward/Passward.css" rel="stylesheet" />

    <link href="~/Asset/Css/ShoppingCart/CartMsgPartial.css" rel="stylesheet" />
}



<div class="container" style="height:56vh;">
    <div class="row">
        <div class="col-12  pb-5"style="padding-top:150px;">
            <div class="offset-lg-3 col-12 col-lg-6 d-flex align-items-center mb-3">
                <div class="row title">
                    <span class="mr-3 mt-1 mb-4">_</span>
                    <p class="title_text">
                        密碼重製
                    </p>
                </div>
            </div>

            <div class="row passward">
                <div class="offset-lg-3 col-12 col-lg-6">
                    <label for="password" class="w-100 col-form-label">請輸入信箱</label>
                    <div class="w-100 form-group">
                        <input type="text" id="email" autocomplete="off" class="form-control">
                    </div>
                    <div class="w-100">
                        <button class="btn w-100 p-2" id="log_in" onclick="SendEmail()">確定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@Html.Partial("ResetMsgPartial")



@section EndJs{
    <script>
        function SendEmail() {
            let email = document.getElementById("email").value;

            $.ajax({
                type: "POST",
                url: "/MemberLogin/SendResetEmail",
                data: { "Email": email },
                dataType: "text",
                success: function (response) {

                    if (response == "成功发出!") {
                        document.querySelector(".fa-check-circle").style.display = "block";
                        document.querySelector(".fa-times-circle").style.display = "none";
                    }
                    else {
                        document.getElementById("CartMsgAlertText").innerText = response;
                        document.querySelector(".fa-check-circle").style.display = "none";
                        document.querySelector(".fa-times-circle").style.display = "block";
                    }

                    document.querySelector(".CartMsg-wrap").setAttribute("style", "display:flex");

                    var time = window.setTimeout((() => {
                        document.querySelector(".CartMsg-wrap").setAttribute("style", "display:none");
                        document.getElementById("CartMsgAlertText").innerText = "成功发出!";
                        document.querySelector(".fa-check-circle").style.display = "block";
                        document.querySelector(".fa-times-circle").style.display = "none";
                    }), 800)

                }
            });
        }
    </script>
}
