<div class="CartMsg-wrap">
    <div class="CartMsg-alert">
        <div class="CartMsg-alert_circle">
            <i class="fas fa-times-circle circle" style="display: none"></i>
            <i class="fas fa-check-circle circle"></i>
        </div>
        <div class="CartMsg-alert_txt">
            <div class="txt" id="CartMsgAlertText">成功发出!</div>
        </div>
    </div>
</div>