:root {
    --crimson-color: #bf0000;
    
}


.book-detail {
    font-family: 'Noto Sans TC', sans-serif;
}

.breadcrumb {
    margin-bottom: 30px;
    width: 100%;
}

    .breadcrumb a {
        padding-right: 5px;
        text-decoration: initial;
    }

        .breadcrumb a + a:before {
            content: '/';
            color: black;
            padding-right: 5px;
        }

.breadcrumb-sm a:before {
    content: '<';
    color: black;
    padding-right: 5px;
    font-size: 10px;
}

.detail-sm-bg .pic {
    background-image: url(./img/sm-book-bg.jpg);
    background-size: cover;
    height: 60px;
    background-repeat: no-repeat;
    position: relative;
}

.detail-cover .pic {
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}


    .detail-cover .pic .pic-content {
        cursor: pointer;
        text-align: center;
        position: relative;
        border-top: 1px solid rgb(87, 104, 155, .1);
        border-left: 1px solid rgb(87, 104, 155, .1);
        border-right: 1px solid rgb(87, 104, 155, .1);
    }

    .detail-cover .pic:after {
        content: '';
        display: block;
        background-image: url(./img/detail-cover.png);
        padding-bottom: 14%;
        background-repeat: no-repeat;
        background-position: top;
        background-position-x: center;
        background-position-y: top;
        background-size: 100%;
    }

    .detail-cover .pic img {
        width: 100%;
    }

    .detail-cover .pic .pic-content .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.5s;
    }

    .detail-cover .pic:hover .overlay {
        opacity: 1;
    }

.content hr {
    width: 100%;
}

.detail-preview {
    border-bottom: 2px solid #eeeeee;
}

.detail-save {
    padding-bottom: 20px
}

    .detail-preview .fa-search,
    .detail-save .fa-arrow-to-bottom {
        color: black;
        padding-right: 10px;
        font-size: 16px;
    }

    .detail-save .fa-arrow-to-bottom {
        padding-right: 10px;
    }

    .detail-preview a,
    .detail-save a {
        text-decoration: none;
        font-size: 16px;
        color: var(--crimson-color)
    }

.total-rating .fas {
    color: var(--crimson-color)
}

.special-deal {
    display: flex;
}

    .special-deal .fa-tag {
        /* font-size: 20px; */
        color: white;
        background-color: var(--crimson-color);
        width: 35px;
        height: 25px;
        line-height: 25px;
        vertical-align: middle;
        text-align: center;
        border-radius: 100%;
        margin: 5px;
        cursor: pointer;
        margin-top: 10px;
    }

    .special-deal p {
        font-weight: 300;
    }

    .special-deal a {
        text-decoration: underline;
    }


.detail-title h1 {
    font-size: 26px;
    padding-top: 10px;
}

.detail-title h2 {
    font-size: 22px;
    color: #595959;
    font-weight: 300;
}

.detail-title h3 {
    font-size: 18px;
    font-weight: 300;
    color: var(--crimson-color);
}

    .detail-title h3 span {
        color: black;
        padding-right: 10px;
    }

.detail-title h5 {
    font-size: 18px;
    font-weight: 300;
}

.detail-title p {
    font-weight: 300;
    font-size: 15px;
}

.detail-title .hype {
    font-weight: 400;
    line-height: 25px;
}

.detail-pricing .box {
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 7px #e6e6e6;
    height: auto;
    padding: 20px 15px;
    box-sizing: border-box;
}

.detail-pricing .pricing-title {
    font-size: 18px;
    font-weight: 300;
}

.detail-pricing button {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 14px;
    color: white;
}



.detail-pricing .add-to-cart {
    background-color: var(--crimson-color);
    transition: all 1s;
}

    .detail-pricing .add-to-cart:hover {
        background-color: white;
        border: 2px solid var(--crimson-color);
        color: black;
    }

.detail-pricing .buy-now,
.detail-pricing .add-to-wishlist {
    background-color: #595959;
    transition: all 1s;
}


    .detail-pricing .buy-now:hover,
    .detail-pricing .add-to-wishlist:hover {
        border: 2px solid #595959;
        background-color: white;
        color: black;
    }

.active-price {
    display: flex;
    margin: 25px 0;
    justify-content: space-between;
}


.detail-main {
    position: relative;
}

.detail-sm-bg {
    background-image: url(./img/sm-book-bg.jpg);
    height: 100px;
    position: absolute;
}

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6) !important;
    display: none;
}

.show {
    display: block;
}


.lightbox-item {
    min-height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.3rem;
}

.lightbox-close {
    font-size: 3rem;
    transition: all 1s ease-in-out;
    cursor: pointer;
}

.lightbox-control {
    position: absolute;
    font-size: 4rem;
    color: white;
    transition: all 1s linear;
    cursor: pointer;
}

    .lightbox-control .fas {
        font-size: 40px;
    }

.btnLeft {
    top: 50%;
    left: 3%;
    transform: translateX(-60%);
}

.btnRight {
    top: 50%;
    right: 3%;
    transform: translateX(60%);
}

.preview-img-container {
    display: none;
}
