.main .product-breadcrumb {
    padding: 20px 0;
}

    .main .product-breadcrumb a,
    .main .product-breadcrumb .fas {
        color: #b0b0b0;
        font-size: 14px;
    }

    .main .product-breadcrumb .fas {
        padding: 0 15px;
    }

.main .sidenav {
    height: 100%;
}

    .main .sidenav h2 {
        background-color: #1a1a1a;
        color: white;
        font-size: 16px;
    }

    .main .sidenav a {
        width: 100%;
        display: block;
        color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 12px 18px;
        border-right: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
        border-bottom: 1px dotted #d6d6d6;
        text-decoration: none;
    }

        .main .sidenav a:nth-of-type(1) {
            background-color: #1a1a1a;
            color: white;
            padding: 8px;
        }

        .main .sidenav a:last-child {
            border-bottom: 1px solid #d6d6d6;
        }

.main .main-promotion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

    .main .main-promotion .carousel-control-prev-icon,
    .main .main-promotion .carousel-control-next-icon {
        width: 30px;
        height: 40px;
        background-color: #1a1a1a;
    }

    .main .main-promotion .carousel-control-prev-icon {
        position: absolute;
        left: 0;
    }

    .main .main-promotion .carousel-control-next-icon {
        position: absolute;
        right: 0;
    }

.main .main-promotion-topic {
    background-color: #ebe9ea;
    border: 1px solid #d6d6d6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

    .main .main-promotion-topic h4 {
        font-size: 19px;
        text-align: center;
        margin-top: 15px;
    }

        .main .main-promotion-topic h4 span {
            color: #8a6926;
        }

    .main .main-promotion-topic .promotion-discount {
        color: #aa3744;
        font-size: 25px;
        font-weight: bold;
        font-family: 'Noto Sans TC', sans-serif;
    }

        .main .main-promotion-topic .promotion-discount span {
            color: black;
            font-size: 16px;
        }

    .main .main-promotion-topic .swiper-container {
        width: 100%;
    }

    .main .main-promotion-topic .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .main .main-promotion-topic .swiper-slide img {
            width: 60%;
        }

    .main .main-promotion-topic .swiper-pagination {
        position: absolute;
        bottom: 0;
    }

        .main .main-promotion-topic .swiper-pagination .swiper-pagination-bullet {
            padding: 2px;
            margin: 2px;
        }

.main .new-product {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .main .new-product h3 {
        width: 100%;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
        font-size: 18px;
    }

    .main .new-product .pic {
        padding-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
    }

        .main .new-product .pic img {
            width: 100%;
        }

        .main .new-product .pic .promotion-discount {
            color: #aa3744;
            font-size: 19px;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
        }

            .main .new-product .pic .promotion-discount .title {
                color: black;
                font-weight: 400;
            }

            .main .new-product .pic .promotion-discount span {
                font-size: 15px;
                color: black;
            }

    .main .new-product .major {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

        .main .new-product .major img {
            width: 50%;
            padding-right: 20px;
        }

        .main .new-product .major .promotion-discount {
            color: #aa3744;
            font-size: 25px;
            font-family: 'Noto Sans TC', sans-serif;
            font-weight: bold;
        }

            .main .new-product .major .promotion-discount .title {
                color: black;
                font-weight: 400;
                font-size: 20px;
            }

            .main .new-product .major .promotion-discount span {
                font-size: 15px;
                color: black;
            }

.main .hot-issue {
    padding: 30px;
    height: 500px;
}

    .main .hot-issue h3 {
        width: 100%;
        font-size: 18px;
        font-family: 'Noto Sans TC', sans-serif;
        width: 100%;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }

    .main .hot-issue ul {
        padding: 0;
    }

        .main .hot-issue ul li {
            list-style: none;
            font-size: 20px;
            font-family: 'Noto Sans TC', sans-serif;
            color: #5b6252;
            padding: 5px 0;
            border-bottom: 1px dotted black;
        }

    .main .hot-issue .pic {
        width: 100%;
    }

        .main .hot-issue .pic img {
            width: 110%;
            margin-top: 20px;
        }
