@model List<CategoryViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>商品分類</h2>

@foreach (var item in Model)
{

    @Html.ActionLink(@item.Name, "ProductCategory", "Product", new { CategoryId = @item.CategoryId}, null)
}
