
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section topCss{
    <link href="~/Asset/Css/Home-Index/Home.css" rel="stylesheet" />
    <link href="~/Asset/Css/Home-Index/slick-theme.min.css" rel="stylesheet" />
    <link href="~/Asset/Css/Home-Index/slick.css" rel="stylesheet" />
}
<div class="First-sight">
    <div class="First-sight-text">
        <p>There is no friend so faithful as a good book.</p>
    </div>
</div>

<div class="tabbox">
    <input checked id="tab1" name="tabs" type="radio" />
    <label class="tp" for="tab1">暢銷書籍</label>

    <input id="tab2" name="tabs" type="radio" />
    <label class="tp" for="tab2">最新上市</label>

    <input id="tab3" name="tabs" type="radio" />
    <label class="tp" for="tab3">每日特價</label>
    <br />
    <div class="content" style="background-color: white;">
        <div id="content1">
            <div class="bestseller seller container">
                <div class="row">
                    <div class="bestseller-title seller-title col-sm-12">
                        <h4><span>暢銷</span>書籍</h4>
                    </div>
                    <div class="bestseller-block seller-block slider col-sm-12">
                        <a href="">
                            <div class="bestseller-item seller-item">
                                <div class="bestseller-text seller-text">
                                    <div class="bestseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=1">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="bestseller-item seller-item">
                                <div class="bestseller-text seller-text">
                                    <div class="bestseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=2">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="bestseller-item seller-item">
                                <div class="bestseller-text seller-text">
                                    <div class="bestseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=3">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="bestseller-item seller-item">
                                <div class="bestseller-text seller-text">
                                    <div class="bestseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=4">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="bestseller-item seller-item">
                                <div class="bestseller-text seller-text">
                                    <div class="bestseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=5">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="gotobestseller">
                        <a href="" class="m-auto">
                            前往更多
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content2">
            <div class="newseller seller container">
                <div class="row">
                    <div class="newseller-title seller-title col-sm-12">
                        <h4><span>最新</span>上市</h4>
                    </div>
                    <div class="newseller-block seller-block slider col-sm-12">
                        <a href="">
                            <div class="newseller-item seller-item">
                                <div class="newseller-text seller-text">
                                    <div class="newseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=1">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="newseller-item seller-item">
                                <div class="newseller-text seller-text">
                                    <div class="newseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=2">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="newseller-item seller-item">
                                <div class="newseller-text seller-text">
                                    <div class="newseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=3">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="newseller-item seller-item">
                                <div class="newseller-text seller-text">
                                    <div class="newseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=4">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="newseller-item seller-item">
                                <div class="newseller-text seller-text">
                                    <div class="newseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=5">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="gotobestseller">
                        <a href="" class="m-auto">
                            更多新品
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="content3">
            <div class="specialseller seller container">
                <div class="row">
                    <div class="specialseller-title seller-title col-sm-12">
                        <h4><span>每日</span>特價</h4>
                    </div>
                    <div class="specialseller-block seller-block slider col-sm-12">
                        <a href="">
                            <div class="specialseller-item seller-item">

                                <div class="specialseller-text seller-text">
                                    <div class="specialseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=1">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="specialseller-item seller-item">
                                <div class="specialseller-text seller-text">
                                    <div class="specialseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=2">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="specialseller-item seller-item">
                                <div class="specialseller-text seller-text">
                                    <div class="specialseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=3">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="specialseller-item seller-item">
                                <div class="specialseller-text seller-text">
                                    <div class="specialseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=4">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                            <div class="specialseller-item seller-item">
                                <div class="specialseller-text seller-text">
                                    <div class="specialseller-pic seller-pic">
                                        <img src="https://picsum.photos/300/300/?random=5">
                                    </div>
                                    <p>
                                        書名<br>
                                        <span class="unitprice">$300</span><span class="sale"> $200</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="gotobestseller">
                        <a href="" class="m-auto">
                            更多新品
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="Midfield">
    <div class="Midfield-block row">
        <div class="Midfield-pic col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <img src="~/Asset/Image/Home/0vvet556xwdbjdmchaggwfya1g34yw9u_1400x800.jpg" />
        </div>
        <div class="Midfield-text col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
            <p class="Midfield-title"> 【不適者生存】</p>
            <p class="Midfield-content">
                生命會自己找出路—《侏羅紀公園》（1993）
                「不適者生存？」一展的關鍵字，來自「適者生存」這個演化論的誤譯。在不同的情境下，人人都有可能是適者與不適者。面對社會文化的演化，倘若以藝術之名來審視，而非用天擇結果來歸納，又可以看見什麼？藝術史的風格演化？社會運動的推動與實踐？還是大眾文化的流行、過氣與復古？社會文化的演化與選擇，因適者而有所保存，但往往又由不適者所引發響應與關注。
            </p>
            <div class="Midfield-but">
                <a href="">
                    更多展覽資訊
                </a>
            </div>
        </div>

    </div>
</div>


<div class="link-block">

    <div class="link-title">
        <h3>經營內容</h3>
    </div>
    <div class="row">
        <div class="Product col-sm-12 col-md-6">
            <div class="Product-pic link-block-pic">
                <a href="">
                    <img src="~/Asset/Image/Home/Product.jpeg" />
                    <i class="fas fa-store link-icon"></i>
                    <div class="Product-text link-text">
                        商品專區
                    </div>
                </a>
            </div>
        </div>
        <div class="exhibition col-sm-12 col-md-6">
            <div class="exhibition-pic link-block-pic">
                <a href="">
                    <img src="~/Asset/Image/Home/Libreria-SCA-8287_Iwan-Baan_Web.jpg" />
                    <i class="fas fa-book link-icon"></i>
                    <div class="exhibition-text link-text">
                        展覽資訊
                    </div>
                </a>
            </div>
        </div>
        <div class="place col-sm-12 col-md-6">
            <div class="place-pic link-block-pic">
                <a href="">
                    <img src="~/Asset/Image/Home/Libreria-SCA-8716_credit-Iwan-Baan_Web.jpg" />
                    <i class="far fa-building link-icon"></i>
                    <div class="place-text link-text">
                        場地出租
                    </div>
                </a>
            </div>
        </div>
        <div class="member col-sm-12 col-md-6">
            <div class="member-pic link-block-pic">
                <a href="/MemberCenter/MemberLogin">
                    <img src="~/Asset/Image/Home/Libreria-SCA-8599-credit-Iwan-Baan-scaled.jpg" />
                    <i class="fas fa-male link-icon"></i>
                    <div class="member-text link-text">
                        會員專區
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

@section endJs{
   
<script src="~/Asset/Js/Home-Index/slick.min.js"></script>
    <script>
        //slick slider 效果設定
        $(".slider").slick({
            centerMode: true,
            centerPadding: '0px',
            slidesToShow: 3,
            speed: 1000,
            autoplay: true,
            arrows: false,
            dots: true,
            responsive: [
                {
                    breakpoint: 1100,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '100px',
                        slidesToShow: 2,
                        speed: 1000,
                        autoplay: true,
                    }
                },
                {
                    breakpoint: 1024,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '0px',
                        slidesToShow: 2,
                        speed: 1000,
                        autoplay: true,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '0px',
                        slidesToShow: 1,
                        speed: 1000,
                        autoplay: true,
                        dots: true
                    }
                }
            ]
        });
    </script>
    <script>

        let mediaQueryList = window.matchMedia("(min-width:992px)");
        function screenTest(x) {
            if (x.matches) {
                document.getElementById("navbarToggler").classList.remove("show");
            }
        }
        mediaQueryList.addListener(screenTest);

    </script>
}
