body {
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;
}

.breadcrumb{
    margin-top: 100px;
    background-color: #FFFFFF;
}

.register-border {
    border: 2px solid #e3e3e3;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.register-form {
    margin-top: 25px;
    margin-bottom: 25px;
}

.breadcrumb a,i {
    color: #B0B0B0;
}

.breadcrumb i {
    padding: 0px 15px;
}

.register-form .title {
    font-size: 20px;
    font-weight: bold;
}

.register-form label {
    margin: 0;
    margin-top: 15px;
}
