
@section topCSS{
    <link href="~/Asset/Css/AboutUs/AboutUs.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}

<div class="top-block">
    <h2>關於我們</h2>
</div>

