
@section topCSS{
    <link href="~/Asset/Css/AboutUs/AboutUs.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}

<div class="top-block">
    <h2>關於我們</h2>
</div>

<div class="text-block">
    <div class="text-box">
        為永續經營，落實專業經營方向，Libreria於2021年成立。在相同的企業核心價值下，Libreria肩負不同的任務，形成一條文創價值鏈，為內容與平台的交流共生。Libreria定義為文化內容的提供者，持續以累積多年的專業，深度經營綜合書店、畫廊、藝文展演、資訊物流等文化創意事業。為創意經濟的全通路平台，負責複合通路生活品牌、餐飲事業、旅館事業，發展兼具跨界實演、觀光價值、人才創業、體驗分享的文創產業平台。
    </div>
</div>

<div class="about-us-block">
    <h2><span class="underline">關於</span>我們</h2>
    <div class="images-box">
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs01.jpg')">
                    <div class="text">
                        Libreria書店 <br />
                        <img src="~/Asset/Image/AboutUs/icon_01.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs02.jpg')">
                    <div class="text">
                        Libreria生活 <br />
                        <img src="~/Asset/Image/AboutUs/icon_02.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs03.jpg')">
                    <div class="text">
                        Libreria畫廊 <br />
                        <img src="~/Asset/Image/AboutUs/icon_03.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs04.jpg')">
                    <div class="text">
                        Libreria展演 <br />
                        <img src="~/Asset/Image/AboutUs/icon_04.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs05.jpg')">
                    <div class="text">
                        Libreria生活餐飲 <br />
                        <img src="~/Asset/Image/AboutUs/icon_05.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs06.jpg')">
                    <div class="text">
                        Libreria行旅 <br />
                        <img src="~/Asset/Image/AboutUs/icon_06.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs07.jpg')">
                    <div class="text">
                        Libreria線上 <br />
                        <img src="~/Asset/Image/AboutUs/icon_07.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs08.jpg')">
                    <div class="text">
                        Libreria品牌 <br />
                        <img src="~/Asset/Image/AboutUs/icon_08.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs09.jpg')">
                    <div class="text">
                        Libreria文化藝術 <br />
                        <img src="~/Asset/Image/AboutUs/icon_09.png" />
                    </div>
                </div>
            </a>
        </div>
        <div class="image-box">
            <a class="image-url" href="">
                <div class="image" style="background-image: url('../../Asset/Image/AboutUs/AboutUs10.jpg')">
                    <div class="text">
                        Libreria居所 <br />
                        <img src="~/Asset/Image/AboutUs/icon_10.png" />
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>