<div class="CartMsg-wrap">
    <div class="CartMsg-alert">
        <div class="CartMsg-alert_circle">
            <i class="fas fa-exclamation"></i>
        </div>
        <div class="CartMsg-alert_txt">
            <div class="txt">修改成功!</div>
        </div>
    </div>
</div>
