@section topCSS{
    @*Passward CSS*@
    <link href="~/Asset/Css/Passward/Passward.css" rel="stylesheet" />
}



<div class="container">
    <div class="row">
        <div class="col-12 pt-4 pb-5">
            <div class="offset-lg-3 col-12 col-lg-6 d-flex align-items-center mb-3">
                <div class="row title">
                    <span class="mr-3 mt-1 mb-4">_</span>
                    <p class="title_text">
                        請輸入密碼，確認無誤後可修改會員資料與密碼
                    </p>
                </div>
            </div>

            <div class="row passward">
                <div class="offset-lg-3 col-12 col-lg-6">
                    <label for="password" class="w-100 col-form-label">登入密碼</label>
                    <div class="w-100 form-group">
                        <input type="passward" id="password" autocomplete="off" class="form-control">
                    </div>
                    <div class="w-100">
                        <button class="btn w-100 p-2" id="log_in">確定</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
