@section topcss{

    @*Favorate CSS*@
    <link href="~/Asset/Css/MemberCenter/Favorate.css" rel="stylesheet" />


    @*Chinese Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    @*English/Numbers Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
}
@section topJS{
    <script src="https://kit.fontawesome.com/d22f4b5afc.js" crossorigin="anonymous"></script>
}
@section endJs{
    @*Favorate JS*@
    <script src="~/Asset/Js/ShoppingCart/OrderDetail.js"></script>
}

<div class="container">
    <div class="crumbs">
        <p class="crumb">首頁</p>
        <i class="fas fa-chevron-right"></i>
        <p class="crumb">會員中心</p>
        <i class="fas fa-chevron-right"></i>
        <p class="crumb">收藏商品</p>
    </div>
    <div class="favorites">
        <h1>收藏商品</h1>
        <h2>(共有<span>2</span>筆商品)</h2>
    </div>
    <div class="product">
        <div class="pro_pic col-3">
            <img src="https://picsum.photos/200/200/?random=4">
        </div>
        <div class="pro_txt col-6">
            <h3>我所預感的悲傷未來</h3>
            <p class="pro_txt_authers">作者 : 加納朋子</p>
            <p>出版社 : 小天下出版</p>
            </p>

            <p>出版日期 : 2018/08/17</p>
        </div>
        <div class="pro_btn col-3">
            <button class="add">加入購物車</button>
            <button class="del">刪除</button>
        </div>
    </div>

    <div class="product">
        <div class="pro_pic col-3">
            <img src="https://picsum.photos/200/200/?random=1">
        </div>
        <div class="pro_txt col-6">
            <h3>慢養功能肌力: 釐清你一直誤用的養生常識</h3>
            <p class="pro_txt_authers">作者 : 加納朋子</p>
            <p>出版社 : 小天下出版</p>
            </p>

            <p>出版日期 : 2018/08/17</p>
        </div>
        <div class="pro_btn col-3">
            <button class="add">加入購物車</button>
            <button class="del">刪除</button>
        </div>
    </div>
    <div class="product">
        <div class="pro_pic col-3">
            <img src="https://picsum.photos/200/200/?random=2">
        </div>
        <div class="pro_txt col-6">
            <h3>孤島通信 (作者限量親簽版)</h3>
            <p class="pro_txt_authers">作者 : 加納朋子</p>
            <p>出版社 : 小天下出版</p>
            </p>

            <p>出版日期 : 2018/08/17</p>
        </div>
        <div class="pro_btn col-3">
            <button class="add">加入購物車</button>
            <button class="del">刪除</button>
        </div>
    </div>
    <div class="product">
        <div class="pro_pic col-3">
            <img src="https://picsum.photos/200/200/?random=3">
        </div>
        <div class="pro_txt col-6">
            <h3>理想的下午: 關於旅行也關於晃蕩 (二十周年紀念新版)</h3>
            <p class="pro_txt_authers">作者 : 加納朋子</p>
            <p>出版社 : 小天下出版</p>
            </p>

            <p>出版日期 : 2018/08/17</p>
        </div>
        <div class="pro_btn col-3">
            <button class="add">加入購物車</button>
            <button class="del">刪除</button>
        </div>
    </div>

    <div class="page mb-5">
        <div class="btn_left">
            <button class="fas fa-chevron-left"></button>
        </div>
        <div class="page_num">
            <a href="#">1</a>
        </div>
        <div class="btn_left">
            <button class="fas fa-chevron-right"></button>
        </div>
    </div>
</div>