@section topCss{
    <link href="~/Asset/Css/MemberCenter/member_password_confirm.css" rel="stylesheet" />
    }

<div class="container">
    
    <div class="password__health-content">
        <div class="content__title col-12">
            <p>為了保護您的個人資料安全，請輸入您的會員密碼</p>
        </div>

        <div class="content__enter">
            <div class="content__enter-item">
                <p>Libreria會員密碼 <span>請注意大小寫</span></p>
                <input type="text" id="passwordText" name="passwordText" placeholder="請輸入Libreria會員密碼" maxlength="" minlength="">
            </div>

        </div>
    </div>
    <div class="password__btn">
        <a href="#">確定</a>
    </div>
</div>


