@section topcss{

    @*subscribe_cancel CSS*@
    <link href="~/Asset/Css/MemberCenter/sub_cancel.css" rel="stylesheet" />

    @*Chinese Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    @*English/Numbers Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">


    }

    <div class="wrap">
        <div class="cancel_txt">
            <h1>您確定不訂閱了嗎?</h1>
            <h2>若您確定要取消訂閱資格，請填寫以下內容。</h2>
        </div>
        <div class="cancel_card">
            <div class="card_txt">
                <ul>
                    <li>取消將在本收費週期於2021/2/27結束時生效。</li>
                    <li>可隨時重新訂閱。</li>
                </ul>
            </div>
            <div class="cancel_btn">
                <button class="btn1">完成取消</button>
                <button class="btn2">返回</button>
            </div>
        </div>
    </div>