@section topcss{

    @*subscribe CSS*@
    <link href="~/Asset/Css/MemberCenter/sub_info.css" rel="stylesheet" />


    @*Chinese Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    @*English/Numbers Font CSS*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
}

@section topJS{
    <script src="https://kit.fontawesome.com/d22f4b5afc.js" crossorigin="anonymous"></script>
}


<div class="container">
    <div class="account">
        <h1>帳戶</h1>
    </div>
    <div class="membership">
        <div class="membership_txt">
            <p>會員資格與收費</p>
            <button>取消會員資格</button>
        </div>
        <div class="membership_info">
            <div class="membership_info_info">
                <p>asdzxc@gmail.com</p>
                <p><span>密碼 : ********</span></p>
                <p><span>電話 : 0921 123 456</span></p>
            </div>
            <div class="membership_info_change">
                <a href="#">更改會員資料</a>
            </div>
        </div>
    </div>
    <div class="membership_pay">
        <p>您的下一個收費日期為 2021年2月27日。</p>
        <div class="pay_img">
            <img src="~/Asset/Image/MemberCenter/card.png" alt="">
            <p>•••• •••• •••• 5448</p>
        </div>
    </div>
</div>